[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fitdistcp"]
	path = fitdistcp
	url = https://github.com/stephenjewson/fitdistcp
